@page "/Activities/Add/{id:int}"
@model PlanejaiFront.Pages.Activities.Add
@{
    ViewData["Title"] = "Planejaí - Nova atividade";
}

<style>
    body {
        background-color: #e9ecef;
    }

    .wrapper {
        margin: 10vh auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-container {
        min-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .form-container h2 {
        text-align: center;
    }

    .form-container .form-group {
        margin-bottom: 20px;
    }

    .form-container label {
        font-weight: bold;
    }

    .datetime-info {
        display: flex;
        flex-direction: row;
    }

    .datetime-info .form-group:first-child {
        flex-basis: 80%;
        margin-right: 10px;
    }

    .datetime-info .form-group:not(:first-child) {
        flex-basis: calc((20% - 10px) / 2);
    }

    .datetime-errors {
        display: flex;
        flex-direction: column;
    }
</style>

<div class="wrapper">
    <div class="form-container">
        <h2>Nova atividade</h2>
        <hr>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewActivity.Name">Nome:</label>
                <input asp-for="NewActivity.Name" type="text" class="form-control" onkeyup="handleTextName(event)">
                <span asp-validation-for="NewActivity.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewActivity.Description">Descrição:</label>
                <input asp-for="NewActivity.Description" type="text" class="form-control" onkeyup="handleText(event)">
            </div>
            <div class="datetime-info">
                <div class="form-group">
                    <label asp-for="NewActivity.StartDate">Data de início:</label>
                    <input asp-for="NewActivity.StartDate" type="date" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="NewActivity.StartsAt">Horário:</label>
                    <input asp-for="NewActivity.StartsAt" type="time" class="form-control">
                </div>
            </div>
            <div class="datetime-info">
                <div class="form-group">
                    <label asp-for="NewActivity.EndDate">Data de encerramento:</label>
                    <input asp-for="NewActivity.EndDate" type="date" class="form-control" max="2030-12-31">
                </div>
                <div class="form-group">
                    <label asp-for="NewActivity.EndsAt">Horário:</label>
                    <input asp-for="NewActivity.EndsAt" type="time" class="form-control">
                </div>
            </div>
            @if (!ModelState.IsValid)
            {
                <div class="form-group datetime-errors">
                    <span asp-validation-for="NewActivity.StartDate" class="text-danger"></span>
                    <span asp-validation-for="NewActivity.StartsAt" class="text-danger"></span>
                    <span asp-validation-for="NewActivity.EndDate" class="text-danger"></span>
                    <span asp-validation-for="NewActivity.EndsAt" class="text-danger"></span>
                    <span asp-validation-for="DatesAreValid" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" value="Criar atividade" />
                <a asp-page="/Schedules/Details" asp-route-id="@Model.Schedule.ScheduleId" class="btn btn-secondary btn-block">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<script>
    const lettersOnly = (value) => {
        const regex = /^[a-zA-Z0-9\u00C0-\u00FF,.: ]+$/;
        return regex.test(value);
    }
    const handleText = (event) => {
        let input = event.target;
        let value = input.value;
        if (!lettersOnly(value)) {
            input.value = value.slice(0, -1);
        }
    }
    const lettersOnlyName = (value) => {
        const regex = /^[a-zA-Z0-9\u00C0-\u00FF ]+$/;
        return regex.test(value);
    }
    const handleTextName = (event) => {
        let input = event.target;
        let value = input.value;
        if (!lettersOnlyName(value)) {
            input.value = value.slice(0, -1);
        }
    }
</script>
