@page "/Register"
@model PlanejaiFront.Pages.User.Register
@{
    ViewData["Title"] = "Planejaí - Cadastro";
}

<style>
    body {
        background-color: #e9ecef;
    }

    .wrapper {
        margin: 10vh auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-container {
        min-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .form-container h2 {
        text-align: center;
    }

    .form-container .form-group {
        margin-bottom: 20px;
    }

    .form-container label {
        font-weight: bold;
    }
</style>

<div class="wrapper">
    <div class="form-container">
        <h2>Cadastre-se</h2>
        <hr>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewUser.UserId"/>
            <div class="form-group">
                <label asp-for="NewUser.Name">Nome:</label>
                <input asp-for="NewUser.Name" type="text" class="form-control" onkeyup="handleText(event)">
                <span asp-validation-for="NewUser.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.LastName">Sobrenome:</label>
                <input asp-for="NewUser.LastName" type="text" class="form-control" onkeyup="handleText(event)">
                <span asp-validation-for="NewUser.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.Email">E-mail:</label>
                <input asp-for="NewUser.Email" type="email" class="form-control">
                <span asp-validation-for="NewUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.PhoneNumber">Telefone:</label>
                <input asp-for="NewUser.PhoneNumber" type="text" class="form-control" onkeyup="handlePhone(event)" maxlength="15">
                <span asp-validation-for="NewUser.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Senha:</label>
                <input asp-for="Password" type="password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirme sua senha:</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" value="Cadastrar" />
                <a asp-page="/Index" class="btn btn-secondary btn-block">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<script>
    const lettersOnly = (value) => {
		const regex = /^[a-zA-ZÀ-ú\s'-]*$/;
		return regex.test(value) && !/\d/.test(value);
	}
	const handleText = (event) => {
		let input = event.target;
		let value = input.value;
		if (!lettersOnly(value)) {
			input.value = value.slice(0, -1);
		}
	}
    const handlePhone = (event) => {
        let input = event.target
        input.value = phoneMask(input.value)
    }
    const phoneMask = (value) => {
        if (!value) return ""
        value = value.replace(/\D/g, '')
        value = value.replace(/(\d{2})(\d)/, "($1) $2")
        value = value.replace(/(\d)(\d{4})$/, "$1-$2")
        return value
    }
</script>